body, h1, h2, h3, h4, p, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-wrap: break-word;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: rgb(32, 110, 136);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    background-color: black;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

h2 {
    background: rgb(32, 110, 136);
    text-align: center;
    color: #f4f4f4;
    padding-bottom: 10px;
    padding-top: 10px;
}

h3 {
    text-align: center;
}

.container {
    width: 80%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.grid {
    display: flex;
    flex: 1;
}

.row {
    flex: 2;
    padding: 20px;
    background: #fff;
    margin-right: 10px;
    border-radius: 5px;
    word-wrap: break-word;
}

.column.left {
    background-color: #868181;
    padding: 20px;
    border-radius: 5px;
    word-wrap: break-word;
}

.me img {
    border-radius: 50%;
}

#flag-info {
    margin-top: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    flex: 1;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: rgb(32, 110, 136);
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
