* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    background-color: lightblue;
    color: black;
    padding: 15px;
    text-align: center;     
}

nav {
    background-color: #170101;
    text-align: center; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 50px;
    width: 100%;
    text-align:center;
}

.column1, .column2 {
    border: 5px solid #ccc;
    padding: 40px;
    box-sizing:border-box ;
    float:left;
    display: block;
}
.h4{
    border: 2px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    float:left;

}


.me{
    float:left;
    margin-right: 10px;
    display: flex;
    align-items: flex-end;
    padding: 3px
}
.shaded{
    font-size: small;
    font-style: sans-serif;
    text-align: justify;
    padding:3px;
}
.h3{
    padding: 10px 5px;
}

footer h1 {
    text-align: center;
    background-color: lightblue;
    
    padding: 15px;
    text-align: center; 
}
    

p, ul {
    text-align: center;
    justify-content: center;
    font-style: verdana;
    text-indent: 3%;
    
    
}
