
body 
    .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    display: block;
    margin: 8px;
    }

header{
    background-color: red;
	align-items: center;
	justify-content: center;
    text-align: center;  
	width:auto;
    font-size: larger;	
    color:rgb(31, 31, 31);
   
}

main{
    display:block;
    background-color: white;
}
.h2{
    background-color: aquamarine;
    text-align: center;
    font-size: large;
    padding:5px;   
       
}
.p{
    padding:5px 0;
    text-align: center;
    line-height: 50px;
    color:black;
}
footer{
    background-color: red;
	align-items: center;
	justify-content: center;
    text-align: center;  
	width:auto;
    font-size: larger;	
    color:aliceblue;
	
}

