
body 
    .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    }

header{
    background-color: red;
	display: grid;
    grid-gap: 1rem;
	align-items: center;
	justify-content: center;
main{
    grid-auto-columns: auto;
}
	
    
}

footer{
    background-color: red;
	align-items: center;
	justify-content: center;
    text-align: center;
    
   
		
}

