*{
    box-sizing: border-box;
  }
  
  body {
    font-family: roboto, open sans;
    background-color: rgb(127, 130, 129);
  }
  
  
  header {
    background-color: #666;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
  }
  
  .topnav a:hover {
    color: rgb(16, 232, 109);
    
    
  }

  .topnav a.active {
    background-color: rgb(16, 232, 109);
    color: white;
  }

h1 {
  font-size: 45px;
}

  nav ul {
    list-style-type: none;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  article {
    float: left;
    padding: 20px;
    text-align: space around, justify;
    text-justify: inter-word;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
   
  }

  .h2 {
    text-indent: 30px;
    text-align:justify;
    
  }
  p{
    text-align:justify;
    text-justify: inter-word;
  }
  footer {
    background-color: #642a2a;

    text-align: center;
    font-size: 10px;
    color: white;
    width: auto;
    height: 50px;

  }