*{
    grid-template-columns: auto 1fr auto/auto 1fr auto;

}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    display:grid;
}
header {
   padding: 2rem;
   grid-column: 1/4;
   letter-spacing: 3px;
   text-align: center;
   position: relative;

}
.header .melinda {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; 
    border-color: rgb(113, 217, 217);
    border-bottom: 0ch;
   
    
    
}
.column{
    grid-column: 2/4;
    padding: 0.75rem;
    border: 5px solid black;
    border-top-color: rgb(201, 12, 12);
    border-top-style: dotted;
    justify-content:space-between;
}


header h1 {
    margin: 0;
    background-color: rgb(143, 149, 149);
}

nav ul {
    list-style-type: none;
    padding: 0;
    
}

nav ul li {
    display: inline;
    margin-right: 1rem;
    
}

nav ul li a {
   
    text-decoration: none;
    background-color: rgb(192, 216, 210);
    text-align: center;
}

main {
    padding: 1rem;
    grid-column: 2/2;
    padding: 1rem;
    background-color: rgb(71, 207, 225);
}

section {
    margin-bottom: 2rem;
    
}

footer {
    background-color: rgb(143, 149, 149);
    text-align: center;
    padding: 1rem;
    grid-column: 1/4;
}
