body {
    font-family: 'Roboto', sans-serif;
}

header, main, footer {
    max-width: 640px; 
    margin: 1rem auto; 
    border: 1px solid #ccc; 
    padding: 20px; 
    background-color: #e0e0ff; 
}

footer {
    text-align:left; 
}


p {
    line-height: 1.6; 
}

main {
    display: grid; /* Display as grid */
    grid-template-columns: 1fr; /* One column */
    gap: 1rem; /* Gap between grid items */
}
secion{
    padding: 1rem;
    background-color: ;
}