@media screen and (min-width: 640px) 
{}
    
    header {
        background: rgb(144, 135, 135);
        color: rgb(49, 32, 32); 
        justify-content: center;
    }
    
    nav u li {
        flex: 1 1 100%
    }  
    
    .main {
        display: grid; 
        grid-template-columns: 1fr 1fr; 
}
nav a {
    justify-content: center;

}
nav ul{
    flex: 1 1 auto;
}