body {
    font-family: 'Roboto', sans-serif;
    justify-content: center;
}


nav ul{
    display:flex;
    justify-content:space-evenly;
}
nav ul li{
    display:flex;
}
footer {
    text-align:left; 
}


p {
    line-height: 1.6; 
}

main {
    display: grid; /* Display as grid */
    grid-template-columns: 1fr; /* One column */
    gap: 1rem; /* Gap between grid items */
}
secion{
    padding: 1rem;
    background-color: ;
}