body {
    padding: 5%;
  }
  
  table {
    width: 400px;
    border: 1px solid rgba(80, 71, 71, 0.1);
    border-collapse: collapse;
  
    caption {
      caption-side: bottom;
      font-size: smaller;
      padding: 0.2rem;
    }
  
    th,
    td {
      padding: 0.5em 1rem;
      border: 1px solid rgba(161, 157, 157, 0.1);
      white-space: pre;
    }
  
    thead th,
    tbody td {
      text-align: center;
    }
  
    thead {
      color: #fff;
      background: #283f69;
  
      th {
        padding: 1rem;
        font-size: larger;
      }
  
      tr:nth-last-child(1) {
        background-color: #6a5ba2;
      }
    }
  
    tbody tr:nth-child(even) {
      background-color: #b06e6e;
    }
  }
  
  .blank {
    background-color: #4f86b3;
  }
  