:root {
    --main-color: rgba(255, 251, 251, 0.7);
    --secondary-color: black;
    --base-font-size: 16px;
}



@media (min-width:1000px){
    
    .div1 {
        background-color: rgba(255, 251, 251, 0.7);
        margin: 20px;
        width: 250px;
        height: 350px;
        padding: 20px;
        text-align: center;
        position: relative;
        background-color: var(--main-color);
        color: var(--secondary-color);
       
    }

    body{

        background: url('boracay-3031029_1280.jpg');
        margin: 0px;
        background-repeat: no-repeat;
        background-size:cover;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;

    }

    .pic {
        
        display: none;
    }

    .pic2 {
        
        display: flex;
        width: 30%;
        height: 30%;
        
        
    }
    .pic2_container {
        place-items: center;
    }

    .div2 {
        background-color: rgba(255, 251, 251, 0.7);
        margin: 20px;
        width: 250px;
        height: 310px;
        padding: 20px; 
        text-align: center;
        position: relative;
        left: 1250px;


    }

    .Data {
        background-color: green;
        position: relative;
        right: 50px;
    }
    .weather {
        background-color: green;
        position: relative;
        right: 50px;
    }

    .header1{
        height: 80px;
        text-align: center;
        padding: 20px;
        
        width: 1650px;
    }


    .title {
        margin: 0px;
    }
    .divfooter {
        background-color: red;
       
        width: 1650px;
        position: relative;
        left: 0px;
    }
    footer {
        width: 1690px;
        
    }
    .footer1{
        width: 2690px;
    }

    .date {
        width: auto;
    }
    .main {
        background-color: rgba(255, 251, 251, 0.0);
    }

    .pic::after {
        
        left: 240px;
        height: 280px;
        transform: translateX(-50%);

        
        
        
    }

}

