body {
    font-family: 'Roboto', sans-serif;
    justify-content: center;
}


nav ul{
    display:flex;
    justify-content:space-evenly;
    font-size: 20px;
}
nav ul li{
    display:flex;
    text-align: right;
}
footer {
    text-align:left; 
}
a:hover {
    color: rgb(29, 4, 4);
}


p {
    line-height: 1.6; 
}

main {
    display: grid; 
    grid-template-columns: 1fr; 
    gap: 1rem; 
}
secion{
    padding: 1rem;
    background-color: ;
}